{
  "openapi": "3.1.0",
  "info": {
    "title": "Autotab API v1",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.autotab.com/v1",
      "description": "Autotab API"
    }
  ],
  "paths": {
    "/run/": {
      "post": {
        "tags": [
          "run"
        ],
        "summary": "Start",
        "operationId": "start",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "skill",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Skill"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RunSession"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Start"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/run/{run_session_id}": {
      "get": {
        "tags": [
          "run"
        ],
        "summary": "Retrieve",
        "operationId": "retrieve",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "run_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Run Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RunSession"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Retrieve"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/run/list": {
      "get": {
        "tags": [
          "run"
        ],
        "summary": "List Runs",
        "operationId": "list",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "skill",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The skill to list run sessions for",
              "title": "Skill"
            },
            "description": "The skill to list run sessions for"
          },
          {
            "name": "state_filter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RunSessionState"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "The state filter to list run sessions for",
              "title": "State Filter"
            },
            "description": "The state filter to list run sessions for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RunSession"
                  },
                  "title": "Response List"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/run/{run_session_id}/cancel": {
      "post": {
        "tags": [
          "run"
        ],
        "summary": "Cancel",
        "operationId": "cancel",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "run_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Run Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Cancel"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/skill/{id}": {
      "get": {
        "tags": [
          "skill"
        ],
        "summary": "Get Skill",
        "operationId": "retrieve",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Skill"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Retrieve"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/skill/list": {
      "get": {
        "tags": [
          "skill"
        ],
        "summary": "List Skills",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Skill"
                  },
                  "type": "array",
                  "title": "Response List"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Environment": {
        "type": "string",
        "enum": [
          "client",
          "cloud"
        ],
        "title": "Environment"
      },
      "FileInput": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "type": {
            "$ref": "#/components/schemas/VariableDataType",
            "default": "file"
          },
          "variableTypes": {
            "items": {
              "$ref": "#/components/schemas/VariableType"
            },
            "type": "array",
            "title": "Variabletypes"
          }
        },
        "type": "object",
        "required": [
          "variableTypes"
        ],
        "title": "FileInput"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "OrganizationEntityKey": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "type": {
            "type": "string",
            "enum": [
              "organization"
            ],
            "const": "organization",
            "title": "Type",
            "default": "organization"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "OrganizationEntityKey"
      },
      "RunSession": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "skill_id": {
            "type": "string",
            "format": "uuid",
            "title": "Skill Id"
          },
          "source": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SkillAssetKey"
              },
              {
                "$ref": "#/components/schemas/SkillRefAssetKey"
              }
            ],
            "title": "Source"
          },
          "owner": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/UserEntityKey"
              },
              {
                "$ref": "#/components/schemas/OrganizationEntityKey"
              },
              {
                "$ref": "#/components/schemas/TeamEntityKey"
              }
            ],
            "title": "Owner"
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created By"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "environment": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Environment"
              },
              {
                "type": "null"
              }
            ],
            "default": "cloud"
          },
          "start_time": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Start Time"
          },
          "end_time": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "End Time"
          },
          "data": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Data"
          },
          "state": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/RunSessionState"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "skill_id",
          "source",
          "owner"
        ],
        "title": "RunSession"
      },
      "RunSessionState": {
        "type": "string",
        "enum": [
          "play",
          "pause",
          "finish",
          "reset",
          "cancel",
          "timeout",
          "editing"
        ],
        "title": "RunSessionState"
      },
      "Skill": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "owner": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/UserEntityKey"
              },
              {
                "$ref": "#/components/schemas/OrganizationEntityKey"
              },
              {
                "$ref": "#/components/schemas/TeamEntityKey"
              }
            ],
            "title": "Owner"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created By"
          },
          "last_modified_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Modified At"
          },
          "is_published": {
            "type": "boolean",
            "title": "Is Published",
            "default": false
          },
          "inputs": {
            "anyOf": [
              {
                "additionalProperties": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StringInput"
                    },
                    {
                      "$ref": "#/components/schemas/FileInput"
                    }
                  ]
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Inputs"
          }
        },
        "type": "object",
        "required": [
          "owner"
        ],
        "title": "Skill"
      },
      "SkillAssetKey": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "type": {
            "type": "string",
            "enum": [
              "skill"
            ],
            "const": "skill",
            "title": "Type",
            "default": "skill"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "SkillAssetKey"
      },
      "SkillRefAssetKey": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "type": {
            "type": "string",
            "enum": [
              "skill_ref"
            ],
            "const": "skill_ref",
            "title": "Type",
            "default": "skill_ref"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "SkillRefAssetKey"
      },
      "StringInput": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "type": {
            "$ref": "#/components/schemas/VariableDataType",
            "default": "string"
          },
          "variableTypes": {
            "items": {
              "$ref": "#/components/schemas/VariableType"
            },
            "type": "array",
            "title": "Variabletypes"
          },
          "defaultValue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Defaultvalue"
          }
        },
        "type": "object",
        "required": [
          "variableTypes"
        ],
        "title": "StringInput"
      },
      "TeamEntityKey": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "type": {
            "type": "string",
            "enum": [
              "team"
            ],
            "const": "team",
            "title": "Type",
            "default": "team"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "TeamEntityKey"
      },
      "UserEntityKey": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "type": {
            "type": "string",
            "enum": [
              "user"
            ],
            "const": "user",
            "title": "Type",
            "default": "user"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "UserEntityKey"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "VariableDataType": {
        "type": "string",
        "enum": [
          "string",
          "number",
          "boolean",
          "array",
          "object",
          "file",
          "tab"
        ],
        "title": "VariableDataType"
      },
      "VariableType": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "jsonKey": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Jsonkey"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "id": {
            "$ref": "#/components/schemas/VariableTypeId"
          },
          "dataType": {
            "$ref": "#/components/schemas/VariableDataType"
          },
          "children": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/VariableTypeId"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Children"
          },
          "parent": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VariableTypeId"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "dataType"
        ],
        "title": "VariableType"
      },
      "VariableTypeId": {
        "anyOf": [
          {
            "type": "string",
            "format": "uuid"
          },
          {
            "type": "string",
            "enum": [
              "root_object"
            ],
            "const": "root_object"
          },
          {
            "type": "string",
            "enum": [
              "inputs_object"
            ],
            "const": "inputs_object"
          }
        ],
        "title": "VariableTypeId"
      }
    },
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "description": "Your Autotab API key",
        "scheme": "bearer"
      }
    }
  }
}